<div class="header-outer">
    <div class="container">
        <div class="header--inner">
            <div class="columns is-mobile is-vcentered">
                <div class="column is-narrow is-narrow-mobile">
                    <div class="header--logo">
                        <a href="{{ fn('get_home_url') }}">
                            {{ fn('get_bloginfo', 'name') }}
                        </a>
                    </div>
                </div>
                <div class="column menu-container is-narrow is-narrow-mobile">
                    <div class="columns is-mobile is-vcentered">
                        <div class="column">
                            <div class="columns is-mobile is-vcentered">
                                <div class="column">
                                    {% include 'partials/menu-header.html.twig' %}
                                </div>
                                <div class="column">
                                    <div class="header--rs">
                                        <ul class="is-flex">
                                            {% for itemRS in theme.getSocialNetworks() %}
                                                <li>
                                                    <div>
                                                        {% if isLive() and itemRS['cd_theme-settings_rs--name'] == "Twitch" %}
                                                            <div class="pulse-container color-twitch"></div>
                                                        {% endif %}
                                                        <a href="{{ itemRS['cd_theme-settings_rs--url'] }}" target="_blank" rel="noopener nofollow" {% if isLive() and (itemRS['cd_theme-settings_rs--name'] == "Twitch") %} class="is-active" {% endif %}>
                                                            <span class="icon-{{ fn('strtolower', itemRS['cd_theme-settings_rs--name']) }}"></span>
                                                        </a>
                                                    </div>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="column is-mobile">
                            <div class="header--search-button">
                                <span class="icon-search"></span>
                            </div>
                        </div>
                        <div class="column is-mobile is-hidden-desktop">
                            <div class="menu-toggle">
                                <div class="burger"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="search-outer">
    <div class="search">
        <div class="search-box">
            <form role="search" action="{{ fn('home_url') }}" method="get">
                <input type="text" name="s" placeholder="Rechercher...">
                <span>
                    <i>Appuyez sur entrer afin de lancer la recherche</i>
                </span>
            </form>
        </div>
        <div id="close">
            <span class="icon-cross"></span>
        </div>
    </div>
</div>
